# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/
.build/
coverage/

# Flutter generated documentation
**/doc/api/
**/ios/Flutter/.last_build_id

# =========================
# IDE / IntelliJ / Android Studio
# =========================
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/launch.json

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Keystores
*.jks
*.keystore

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/

# =========================
# Environment
# =========================
.env

# =========================
# Logs / Temporary Files
# =========================
*.log
*.class
*.pyc
*.swp

# macOS
.DS_Store

# =========================
# Other Tools / Systems
# =========================
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json